<div id="<%= dom_id link %>">

  <tr>
    <th scope="col"><%= link.main_url %></th>
    <th scope="col"><%= link.token %></th>
    <th scope="col"><%= link.clicks %></th>
    <%if params[:action] == 'show' %>
      <th scope="col"><%= link_to "Show", link %></th>
    <%end%>
  </tr>
</div>



