<div id="<%= dom_id link %>">

  <tr>
    <td scope="col">
      <%= link_to URI.parse(link.main_url).host, link.main_url %>
    </td>

    <td scope="col">
      <%= short_url(link) %>
    </td>

    <td scope="col">
      <%= link.clicks %>
    </td>

    <%if params[:action] == 'index' %>
      <td scope="col">
        <%= link_to "Show", link %>
      </td>
    <%end%>
  </tr>
</div>



