<div id="<%= dom_id link %>">
  <p>
    <strong>Main url:</strong>
    <%= link.main_url %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= link.token %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link.user_id %>
  </p>

  <p>
    <strong>Clicks:</strong>
    <%= link.clicks %>
  </p>

</div>
